
/* @font-face {
    font-family: Montserrat-Regular;
    src: url('/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf');

}

@font-face {
    font-family: Montserrat-Italic;
    src: url('/fonts/montserrat/Montserrat-Italic.ttf');
}
* 
* */

.root {
    -fx-font-family: 'Montserrat';
    -fx-snap-to-pixel: true;
    /*-fx-font-smoothing-type: lcd; /* O prueba lcd si está disponible en tu configuración */ 
    -fx-font-size: 16px;
}

.custom-tile-order {
	-fx-font-family: 'Montserrat';
	-fx-font-size: 10px;
}

.custom-tile-order .title-text {
	-fx-font-size: 20px;
}

/*
.root .tile:focused .title-text {
    -fx-font-family: "Montserrat" !important;
    -fx-font-size: 6px !important;
}

.tile:focused .title-text,
.tile:focused .text {
    -fx-font-family: "Montserrat" !important;
    -fx-font-size: 6px !important;
}

.tile {
	-fx-font-family: "Montserrat" !important;
	-fx-font-size: 12px !important;
}

.tile .title-text,
.tile .text {
    -fx-font-family: "Montserrat" !important;
}
*/


/*.tile {
	-fx-font-size: 16;
} */

.productsLinkBox {
	-fx-border-color: #3498db;          /* Color del borde */
    -fx-border-width: 2;                /* Ancho del borde */
    -fx-border-radius: 10;              /* Bordes redondeados */
    -fx-background-radius: 10;          /* Radio de fondo para combinar con el borde */
    -fx-background-color: #f5f5f5;      /* Color de fondo del VBox */
    -fx-padding: 15;                    /* Espacio interior */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 3); /* Sombra */
}

.productsContentView {
	-fx-border-color: #3498db;          /* Color del borde */
    -fx-border-width: 2;                /* Ancho del borde */
    -fx-border-radius: 10;              /* Bordes redondeados */
    -fx-background-radius: 10;          /* Radio de fondo para combinar con el borde */
    -fx-background-color: #f5f5f5;      /* Color de fondo del VBox */
    -fx-padding: 15;                    /* Espacio interior */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 3); /* Sombra */
}