
/* @font-face {
    font-family: Montserrat-Regular;
    src: url('/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/fonts/montserrat/Montserrat-Bold.ttf');

}

@font-face {
    font-family: Montserrat-Italic;
    src: url('/fonts/montserrat/Montserrat-Italic.ttf');
}
* 
* */

.root {
    -fx-font-family: 'Montserrat';
    -fx-snap-to-pixel: true;
    /*-fx-font-smoothing-type: lcd; /* O prueba lcd si está disponible en tu configuración */ 
    -fx-font-size: 16;
}

