<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!-- Propiedades de configuración de la base de datos -->
		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.connectionTimeout">20000</property>
		<property name="hibernate.hikari.minimumIdle">10</property>
		<property name="hibernate.hikari.maximumPoolSize">20</property>
		<property name="hibernate.hikari.idleTimeout">300000</property>
		<property name="hibernate.hikari.dataSourceClassName">com.mysql.cj.jdbc.MysqlDataSource</property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost:3306/javafx_app</property>
		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password">123456a</property>
		<property name="hibernate.hikari.dataSource.cachePrepStmts">true</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property
			name="hibernate.hikari.dataSource.prepStmtCacheSize">250</property>
		<property
			name="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</property>
		<property
			name="hibernate.hikari.dataSource.useServerPrepStmts">true</property>
		<mapping class="es.rpjd.app.hibernate.entity.ProductType" />
		<mapping class="es.rpjd.app.hibernate.entity.Product" />
		<mapping class="es.rpjd.app.hibernate.entity.User" />

	</session-factory>
</hibernate-configuration>